@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/* Navbar styles
-------------------------------------------------- */

nav{
    background: #2fcdcd;
    height: 80px;
    width: 100%;
    z-index: 0;
}
.enlace{
    position: absolute;
    padding: 15px 50px;
}
.logo{
    height: 55px;
    width: 55px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #000090;
    transition: .5s;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.logout {
    background-color: red;
    font-weight: bold;
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        font-weight: bold;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: wheat;
    }
    #check:checked ~ ul{
        left:0;
    }
}


/* Navbar styles
-------------------------------------------------- */
.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    border: none;
}

.page-header h1 {
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    font-size: 50px;
}

.page-header div {
    text-align: center;
    width: 70%;
}

.page-header p {
    margin-top: 30px;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #7A7A7A;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    border-radius: 3px;
    font-family: 'Libre Bodoni', serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #C5F4F6;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 20px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }